doctype 5
html(lang='en')
    head
		script(src='/../../libs/jquery.js')
		script(src='/../../libs/ember.0-9-8-1.js')
		script(src='/../../app/testdata.js')
		script(src='/../../app/app.js')

	body
		h2 WOWW Project
		#app_container